@use '../../global.scss' as *;

.Welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;

    &__Content {
        width: 50%;
        padding: 13vw;
    }

    &__Title {
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 20px;
    }

    &__Search {
        width: 20vw;
        padding: 15px;
        border: none;
        background-color: $grey;
        border-radius: 5px;
        font-size: 18px;
        outline: none;

        &::placeholder {
            font-family: 'Rubik';
            color: #9c9c9c;
        }
    }
}