@use '../../global.scss' as *;

.Products {
    padding-left: 13.2vw;
    margin-top: 100px;

    &__Content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    &__Title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__Subtitle {
        font-size: 19px;
        font-weight: 300;
        color: $dark-grey;
        margin-bottom: 20px;
    }

    &__CardContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        gap: 136px;
    }

    &__Card {
        background-image: url(../../Assets/Images/backgroundCardRed.png);
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 210px;
        width: 160px;
        flex: 1;
        border: none;
        padding: 2.2vw;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 9px 20px 5px;
        transition: .2s ease-in-out;

        position: relative;

        &.Green-background {
            background-image: url(../../Assets/Images/backgroundCardGreen.png);
        }

        &.Yellow-background {
            background-image: url(../../Assets/Images/backgroundCardYellow.png);
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-7px);
            transition: .2s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 22vh;
            background-color: $white;
            border-radius: 15px 15px 13px 13px;
        }
    }

    &__Card img {
        width: 140px;
        height: 15.7vh;
        position: relative;
        bottom: 40px;
        filter: drop-shadow(1px 2px 4px $black);
    }

    &__Card h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        position: relative;
        bottom: 40px;
    }

    &__Description {
        font-size: 13px;
        color: $black;
        margin: 5px 0;
        margin: 0;
        position: relative;
        bottom: 35px;
    }

    &__Price {
        margin-top: auto;
        font-size: 20px;
        font-weight: 600;
        position: relative;
    }

    &__Buttons {
        display: flex;
        justify-content: flex-end;
        margin: 30px;
        padding-top: 40px;
        padding-right: 207px;
    }

    &__CancelButton, &__FinalizeButton {
        padding: 20px;
        width: 20vw;
        font-size: 16px;
        background-color: $white;
        font-size: 20px;
        font-weight: 600;
        color: $dark-green;
        border: 2px solid $dark-green;
        border-radius: 20px;
        margin-left: 50px;
        cursor: pointer;
        transition: .2s ease-in-out;

        &:hover {
            transform: translateY(-7px);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
            transition: .2s ease-in-out;
        }
    }

    &__FinalizeButton {
        background-color: $dark-green;
        color: $white;
    }
}