@use '../../global.scss' as *;

.Category {
    padding-left: 13.2vw;
    margin-top: -70px;

    &__Content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    &__Title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__Subtitle {
        font-size: 20px;
        font-weight: 300;
        color: $dark-grey;
        margin-bottom: 30px;
    }

    &__Cards {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    &__Card {
        text-align: center;
        height: 110px;
        width: 200px;
        flex: 1;
        border-radius: 15px;
        padding: 2.5vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 20px 5px;
    }

    &__Card img {
        display: flex;
        align-items: center;
        margin-top: -30px;
        max-width: 100%;
        width: 1000px;
        height: 15vh;
    }

        &__Card:nth-child(2) img {
            margin-top: -9px;
        }

    &__Card p {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }

        &__Card:nth-child(2) p {
            margin-top: -10px;
        }
}