@use '../../global.scss' as *;

.navbarDesk {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $dark-green;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 10;

        &__menu {
            display: flex;
            align-items: center;

            ul {
                list-style-type: none;
                height: auto;
                display: flex;
                align-items: center;
                margin-left: 70vw;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-inline: 4vw;
            }

            a {
                position: fixed;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                color: $white;
                border-radius: 10px;
            }

            a.active {
                background: rgba(21, 58, 18, 0.9);
                color: $white;
                height: 40px;
                width: 100px;
                transition: .3s ease-in;
            }
        }

        &__logo {
            position: fixed;
            left: 60px;
        }
}